#
# Running Roundcube as a subfolder on an existing virtual host
#
# Block direct access to directories and files.
location ~ ^/mail/(SQL|bin|config|installer|logs|temp|vendor)/ { deny all; }
location ~ ^/mail/(.*\.md|composer\.*|INSTALL|LICENSE|Makefile|UPGRADING)$ { deny all; }
location ~ ^/mail/plugins/.*/config.inc.php.* { deny all; }
location ~ ^/mail/plugins/enigma/home($|/.*) { deny all; }

# Block access to directories and files via `public_html/static.php`.
location ~ ^/mail/static.php/(SQL|bin|config|installer|logs|temp|vendor)/ { deny all; }
location ~ ^/mail/static.php/(.*\.md|composer\.*|INSTALL|LICENSE|Makefile|UPGRADING)$ { deny all; }
location ~ ^/mail/static.php/plugins/.*/config.inc.php.* { deny all; }
location ~ ^/mail/static.php/plugins/enigma/home($|/.*) { deny all; }

# Redirect URI `/mail` to `/mail/`.
location = /mail {
    return 301 /mail/;
}

location = /mail/ {
    alias PH_RCM_HTTPD_ROOT_SYMBOL_LINK/public_html/;
    index index.php;
}

location ~ ^/mail/static.php/(.*) {
    include PH_NGINX_CONF_TMPL_DIR/hsts.tmpl;
    alias PH_RCM_HTTPD_ROOT_SYMBOL_LINK/$1;
}

location ~ ^/mail/(.*\.php)$ {
    include PH_NGINX_CONF_TMPL_DIR/hsts.tmpl;
    include PH_NGINX_CONF_TMPL_DIR/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME PH_RCM_HTTPD_ROOT_SYMBOL_LINK/public_html/$1;
}
