#
# Run Roundcube as a sub-domain virtual host.
#
# Block access to default directories and files under these directories
location ~ ^/(bin|config|installer|logs|SQL|temp|vendor)/.* { deny all; }

# Block access to default files under top-directory and files start with same name.
location ~ ^/(CHANGELOG|composer.json|INSTALL|jsdeps.json|LICENSE|README|UPGRADING)$ { deny all; }

# Block plugin config files and sample config files.
location ~ ^/plugins/.*/config.inc.php.* { deny all; }

# Block access to plugin data
location ~ ^/plugins/enigma/home($|/.*) { deny all; }

location / {
    root    PH_RCM_HTTPD_ROOT_SYMBOL_LINK;
    index   index.php index.html;
    include PH_NGINX_CONF_TMPL_DIR/hsts.tmpl;
}

location ~ \.php$ {
    root PH_RCM_HTTPD_ROOT_SYMBOL_LINK;
    include PH_NGINX_CONF_TMPL_DIR/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME PH_RCM_HTTPD_ROOT_SYMBOL_LINK$fastcgi_script_name;
}
