location ~ ^/awstats/icon/(.*) {
    alias PH_AWSTATS_ICON_DIR/$1;
    access_log off;
}

location ~ ^/awstats/(.*) {
    alias PH_AWSTATS_STATIC_PAGES_DIR/$1;
    autoindex on;

    auth_basic "Authentication Required";
    auth_basic_user_file PH_AWSTATS_HTTPD_AUTH_FILE;
}
