    # Normal PHP scripts
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass php_workers;
        fastcgi_param SCRIPT_FILENAME PH_HTTPD_DOCUMENTROOT$fastcgi_script_name;
    }

