#
# Run Roundcube as a sub-domain virtual host.
#
location ~ ^/mail/(bin|SQL|README|INSTALL|LICENSE|CHANGELOG|UPGRADING|config|temp|logs|installer)(.*) { deny all; }
location ~ ^/mail/plugins/enigma/home(.*) { deny all; }
location ~ (composer.json|jsdeps.json)(.*) { deny all; }

location / {
    root    PH_RCM_HTTPD_ROOT_SYMBOL_LINK;
    index   index.php index.html;
    include PH_NGINX_CONF_TMPL_DIR/hsts.tmpl;
}

location ~ \.php$ {
    root PH_RCM_HTTPD_ROOT_SYMBOL_LINK;
    include PH_NGINX_CONF_TMPL_DIR/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME PH_RCM_HTTPD_ROOT_SYMBOL_LINK$fastcgi_script_name;
}
