ssl on;
ssl_protocols TLSv1.2;

# Fix 'The Logjam Attack'.
ssl_ciphers PH_SSL_CIPHERS;
ssl_prefer_server_ciphers on;
ssl_dhparam PH_SSL_DH1024_PARAM_FILE;

# To use your own ssl cert (e.g. LetsEncrypt), please create symbol link to
# ssl cert/key used below, so that we can manage this config file with Ansible.
#
# For example:
#
# rm -f PH_SSL_KEY_FILE
# rm -f PH_SSL_CERT_FILE
# ln -s /etc/letsencrypt/live/<domain>/privkey.pem PH_SSL_KEY_FILE
# ln -s /etc/letsencrypt/live/<domain>/fullchain.pem PH_SSL_CERT_FILE
#
ssl_certificate PH_SSL_CERT_FILE;
ssl_certificate_key PH_SSL_KEY_FILE;
